@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2'),
       url(../fonts/OpenSans-SemiBold.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/OpenSans-Regular.woff2) format('woff2'),
       url(../fonts/OpenSans-Regular.ttf) format('ttf');
  font-weight: 400;
}